<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="astra_dual_so_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import astra_dual_so_arm urdf file -->
    <xacro:include filename="$(find tickle_taesan_moveit)/urdf/astra_dual_so_arm.urdf" />

    <!-- Import control_xacro for fake hardware (MoveIt planning 필요) -->
    <xacro:include filename="astra_dual_so_arm.ros2_control.xacro" />

    <xacro:astra_dual_so_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
